<div class="container mt-5">
  <h1>
    Buscar: <small>{{ termino }}</small>
  </h1>
  <hr />
  <div class="row animated fadeIn fast" *ngIf="heroesEncontrados.length == 0">
    <div class="col-md-12">
      <div class="alert alert-info" role="alert">
        No existen resultados para: {{ termino }}
      </div>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <app-heroe-tarjeta
      [heroe]="heroe"
      [index]="heroe.id"
      *ngFor="let heroe of heroesEncontrados"
    ></app-heroe-tarjeta>
  </div>
</div>
